    <h1>Assignment 2 / Vivek</h1>

    <h2>ISBN Search page results for "{{jsonResult.ISBN_13}}"</h2>

    <h3>Book Information</h3>
    <p><b>Title: </b>{{jsonResult.title}}</p>
    <p><b>Author: </b>{{jsonResult.author}}</p>
    <p><b>Price: </b> ${{jsonResult.price}}</p>
    <p><b>Publisher: </b> {{jsonResult.publisher}}</p>

